.frontpage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.historicalweather {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(4, auto);
  flex-shrink: 2;
  border-radius: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(155, 190, 222, 0.294);
  margin: 20px 20px 20px;
  padding: 20px;
  width: 100%;
  position: relative;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.button-statitics{
  box-shadow: 0px 1px 0px 0px #1c1b18;
  background:
    linear-gradient(to bottom, #FECC5E 5%, rgba(155, 190, 222) 100%);
  background-color: #FECC5E;
  border-radius: 15px;
  border: 1px solid #333029;
  display: inline-block;
  cursor: pointer;
  color: #505739;
  padding: 10px 14px;
  text-decoration: none;
  z-index:1;
  text-shadow: 0px 1px 0px #ffffff;
  max-width: 40px;
  max-height: 40px;
  position: absolute;
  right: 0;
  top: 4px;
  margin-right: 5px;
}
.description {
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
.charts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-self: center;
}

.historicalweather h1 {
  font-size: 30px;
  margin: 0px;
  margin-left: 8px;
  text-align: center;
  font-weight: 400;
  padding: 5px;
}

.historicalweather h2 {
  font-size: 25px;
  margin: 0px;
  margin-left: 8px;
  text-align: center;
  font-weight: 300;
  padding: 5px;
}
.linechart {
  padding: 5px;
  align-self: center;
  margin-right: 35px;
}

.dataSrc {
  grid-column-start: 1;
  grid-column-end: 3;
  border-top: 1px solid grey;
  padding-top: 20px;
  margin-top: 20px;
  color: grey;
  text-align: justify;
}
@media (max-width: 1000px) {
  .frontpage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .historicalweather {
    display: flex;
    flex-shrink: 2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(155, 190, 222, 0.294);
    margin: 20px 20px 20px 10px;
    padding: 20px;
    width: 100vw;
  }
}
