.navbar ul {
  float: right;
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  padding: 15px;
}

.header-logo {
  height: 4em;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.header-logo:hover {
  height: 4.5em;
}
.navbarIcon {
  margin: 10px;
  padding: 5px;
  min-height: 40px;
}
