@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.header-effect {
  animation-name: slideInDown;
  animation-duration: 0.5s;
}
.weatherDisplay {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  width: 100%;
}

.background {
  animation-name: appear;
  animation-duration: 2s;
  /* position: absolute; */

  -webkit-box-shadow: 10px -8px 26px -18px rgba(105, 103, 103, 1);
  -moz-box-shadow: 10px -8px 26px -18px rgba(105, 103, 103, 1);
  box-shadow: 10px -8px 26px -18px rgba(105, 103, 103, 1);
  height: 40%;
  margin: 20px 20px 20px 10px;
  /* background: url(../pictures/berlin-sky.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  align-content: space-between;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: center;
}
.blurred-background {
  position: relative;
  width: 100%;
  margin: 5px;
  background: rgba(255, 251, 251, 0.32);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  margin-bottom: 5px;
}
.date-temperature {
  list-style-type: none;
  margin: 20px;
  padding-bottom: 10px;
  /* position: absolute;
  left: 0; */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  min-width: 90%;
  align-items: flex-start;
  justify-content: space-between;
}

li {
  display: inline-block;
}
.weather-icon {
  height: 30px;
  width: auto;
}
.temperature {
  font-size: 5em;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.temperature:hover {
  font-size: 5.5em;
}
.city {
  font-size: 30px;
  margin: 0px;
  margin-left: 8px;
}
.date {
  margin-top: 0px;
  text-align: left;
  margin-left: 10px;
}
.weekly-weather {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
  width: 100%;
}
.weather-icon {
  height: 70px;
  width: auto;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(3px 2px 5px #696767);
  margin-right: 20px;
}
.daily-prediction-list {
  text-align: left;
  display: flex;
  line-height: 1.6;
  font-size: 1em;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.daily-prediction-list-leftcolumn {
  margin-right: 100px;
  font-size: 1em;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.daily-prediction-list:hover {
  font-size: 1.3em;
}

.daily-prediction-list-leftcolumn:hover {
  font-size: 1.3em;
}

.slider {
  width: 90%;
  height: 40%;
  display: flex;
  overflow-x: auto;
}
.slide {
  width: 40%;
  flex-shrink: 0;
  max-height: 230px;
}

.daily-weather {
  background: rgba(255, 251, 251, 0.32);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  min-width: 90%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.daily-list {
  justify-content: flex-start;
  font-size: 20px;
  margin-left: 0px;
  background: rgba(255, 251, 251, 0.32);
  margin-top: 0px;
  line-height: 0.6;
}

.daily-list li {
  margin: 0 0 5px 0;
  padding: 5px;
  padding-top: 10px;
  font-size: 0.7em;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.day {
  font-size: 1em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 8px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.weather-details {
  content: "☁";
  margin-left: -20px;
  margin-right: 10px;
}

.weather-icon-slider {
  height: 40px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(2px 2px 5px #696767);
}
.day:hover {
  font-size: 1.3em;
}

.daily-list li:hover {
  font-size: 1.3em;
}
